@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.bg-barra {
  background-color: #005184;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.boton {
  color: #005184;
  border: 1px solid #005184;
  padding: 10px 25px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  border-radius: 30px;
}

.mia {
  background-color: #005184;
  color: aliceblue;
}

i {
  font-size: 3rem;
}

.footer2 {
  background-color: #FEA400;
  color: aliceblue;
}

.footer1 {
  background-color: #010238;
}

footer a {
  color: aliceblue;
}

.recuadro {
  color: #010238;
  text-align: center;
  height: 100vh;
}

.texto1 {
  border: 4px solid #010238;
  background-color: #EEEEEE;
  line-height: 200%;
  font-family: "Space Mono", monospace;
  border-radius: 2%;
}

.cotiza {
  background-color: #EEEEEE;
}

.juan {
  border: 3px solid #868D96;
  color: #868D96;
  border-radius: 5px;
}

.texto3 {
  color: #010238;
  font-family: "Space Mono", monospace;
}

/*-------------------------------------------------------------- 

# GALERÍA 1 MODAL 

--------------------------------------------------------------*/
#portfolio1 .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

#portfolio1 .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#portfolio1 .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.438);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

#portfolio1 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

#portfolio1 .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

#portfolio1 .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}

#portfolio1 .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

/*-------------------------------------------------------------- 

# ESTILOS DEL MODAL 

--------------------------------------------------------------*/
.modal-content {
  background-color: rgba(0, 0, 0, 0.623);
  border: none;
  border-radius: 0;
  color: white;
}
.modal-content a {
  color: white;
}

.modal-header {
  border-bottom: none;
}